<div class="card" style="width: 18rem; margin-left: 0.5vw; margin-right: 0.5vw; margin-top: 0.5vh; margin-bottom: 0.5vh; padding: 0;">
    <img src="{{ ad.image_url }}" class="card-img-top" style="height: 20vh" alt="Bild på {{ ad.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <p class="card-text">{{ ad.price }} SEK</p>
        <p class="card-text">{{ ad.description }}</p>
        <a href="/ad/{{ ad.id }}" class="btn btn-primary">Visa annons</a>
    </div>
</div>