<ad-card>
    <div class="card" style="width: 18rem;">
        <img src="{{ images[0].url }}" class="card-img-top" style="height: 20vh" alt="{{ images[0].alt }}">
        <div class="card-body">
            <h5 class="card-title">{{  title }}</h5>
            <p class="card-text">{{ description }}</p>
            <a href="/ad/{{ id }}" class="btn btn-primary">Visa annons</a>
        </div>
    </div>
</ad-card>