<div class="card" style="width: 18rem;">
    <img src="{{ ad.image_url }}" class="card-img-top" style="height: 20vh" alt="Bild på {{ ad.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <p class="card-text">{{ ad.price }} SEK</p>
        <p class="card-text">{{ ad.description }}</p>
        <a href="/ad/{{ ad.id }}" class="btn btn-primary">Visa annons</a>
        <a href="/ad/remove/{{ ad.id }}" class="btn btn-danger">Ta bort annons</a>
    </div>
</div>