@layout("layouts/main")
@set("title", "Hem")

@section("body")
    <div class="container">
        <h1>Välkommen till Resajkel.</h1>
        <h6>Resajkel är en platform för dig som vill sälja utan att krångla.</h6>
    </div>
@end