@layout("layouts/main")
@set("title", "Hem")

@section("body")
    <div class="d-flex flex-column align-items-center">
        <h1 class="mt-4">Välkommen till Resajkel.</h1>
        <h6>Resajkel är en platform för dig som vill sälja utan att krångla.</h6>
        <img src="/assets/images/sverige.png" style="margin-top: 20px; width: 40vh; height: 100%;" alt="Bild på Sverige">
    </div>
@end