@layout("layouts/main")
@set("title", "ToS")

@section("body")
  <h1 class="text-center">Resajkels regler och överrenskommelser.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aspernatur nisi vitae eveniet voluptate architecto. Ducimus mollitia similique aliquid cupiditate nesciunt unde rerum facilis reprehenderit sapiente. Nostrum odio nemo ullam.</p>
@end