<p> Internal server error. Please contact the service administrator. </p>

<p> Page not found </p>

<style>
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    p {
        font-size: 3rem;
    }
</style>