@layout("layouts/main")
@set("title", "Annonser")

@section("body")
    <h1 style="text-align: center;">Alla annonser</h1>
    @if(ads.length > 0)
        <div class="row row-cols-4">
            @each(ad in ads)
                @!component("components/ad-card", { ad })
            @end
        </div>
    @else
        <p>Här var det öde :P</p>
    @endif
@end